body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ff5733;
    text-align: center;
    padding: 20px;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}


nav a:hover {
    background-color: white;
    color: #f8b400;
    border-radius: 5px;
}

nav a:not(:last-child)::after {
    content: '|';
    color: white;
    padding: 0 10px;
}



@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    nav a:not(:last-child)::after {
        content: '';
    }
}


section {
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

section h2 {
    color: #ff5733;
}

footer {
    background-color: #ff5733;
    text-align: center;
    padding: 10px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contactus {
    /* Ensure there's enough space above the footer */
    padding-bottom: 70px; /* Adjust as needed */
}

.chat-bot {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: none;
    z-index: 1000; 
}
.container {
    margin: 0 auto;
    max-width: 1200px; /* or any other value */
    padding: 0 20px; /* adding 20px of padding */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}
section img {
    display: block;
    margin: auto;
    width: 10%;
    height: auto;
}

 /* menu */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
figure {
    margin: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
figure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figure img {
    border-radius: 5px;
}

figcaption {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}
